<% provide(:title, 'Edit Optometrist Record') %>
<%= render 'shared/phr_info' %>
<section>
<%= form_for([@phr, @eye]) do |f| %>
  <div class="row">
      <h1>Update Optometrist Record</h1>
      <%= render 'shared/error_messages', object: f.object %>
     
        <div class="span6">
          <%= render 'eye_form', f: f %>
        
          <%= f.submit "Save Changes" %>
        </div>


  </div>
  <%= link_to 'Back', phr_eyes_path %>
<% end %>
</section>
</div>