<% provide(:title, 'New Optometrist Record') %>
<%= form_for([@phr, @phr.eyes.build]) do |f| %>
<%= render 'shared/phr_info', f: f %>
  <div class="row">
      <h1>Create New Optometrist Record</h1>
      <%= render 'shared/error_messages', object: f.object %>
     
        <div class="span6 offset3">
          <%= render 'eye_form', f: f %>
        
          <%= f.submit "Create Record" %>
        </div>


  </div>
  <%= link_to 'Back', phr_eyes_path %>
<% end %>
</div>