<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <%= render 'userPane' %>
  </aside>
  <div class="span8">
    <% if @user.admin? %>
    	<h2 style="text-align:left;">Admin Users</h2>
        <ol class="users">
          <%= render @users_admin %>
        </ol>
        <br>
      <h2 style="text-align:left;">Non-Admin Users</h2>
      <% if @users_nonadmin.any? %>
        <ol class="users">
          <%= render @users_nonadmin %>
        </ol>
        <% else %>
        No Users have registered yet.
        <% end %>      
    <% else %>
      <section>      
        <%= link_to "Create Monthly Participiation Report", new_participation_report_path, class: "btn btn-large btn-secondary" %><br><br>
      </section>
      <section>      
        <%= link_to "Create Monthly Financial Report", new_financial_report_path, class: "btn btn-large btn-secondary" %><br><br>
      </section>
    <% end %>
  </div>
</div>
