<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <%= render 'userPane' %>
  </aside>
  <div class="span8">
    <% if @user.admin? %>
    	<h2 style="text-align:left;">Admin Users</h2>
        <ol class="users">
          <%= render @users_admin %>
        </ol>
        <br>
      <h2 style="text-align:left;">Non-Admin Users</h2>
      <% if @users_nonadmin.any? %>
        <ol class="users">
          <%= render @users_nonadmin %>
        </ol>
        <% else %>
        No Users have registered yet.
        <% end %>      
    <% else %>
      <h2 style="text-align:left;">My Personal Health Records</h2>
      <% if @user.phrs.any? %>
        <ol class="phrs">
          <%= render @phrs %>
        </ol>
        <%= will_paginate @phrs %>
        <% else %>
        You have not created any Personal Health Records yet.
        <% end %>
      <% end %>
  </div>
</div>
