	<p>
		<%= f.label :medication_name %>
		<%= f.text_field :medication_name %>
	</p>
	<p>
		<%= f.label :drug %>
		<%= f.text_field :drug %>
	</p>		
	<p>
		<%= f.label :begin_date %>
		<%= f.date_select :begin_date, :start_year => 1900, :end_year => Time.now.year %>
	</p>
	<p>
		<%= f.label :duration, 'Duration (Days)' %>
		<%= f.text_field :duration %>
	</p>

	<p>
		<%= f.label :dosage %>
		<%= f.text_field :dosage %>
	</p>
	<p>
		<%= f.label :frequency, 'frequency (per day)' %>
		<%= f.text_field :frequency %>
	</p>
	<p>
		<%= f.label :ailment %>
		<%= f.collection_select(:ailment, @phr.ailments.all, :ailment_name, :ailment_name, :prompt => true) %>
	</p>

	<p>
    	<%= f.label :prescribing_doctor %>
    	<%= f.collection_select(:prescribing_doctor, @user.contacts.where(:honorific => 'Dr'), :name, :name, :prompt => true) %>
  	</p>
	
	<p>
	<%= f.submit "Submit", :class => "btn btn-small btn-secondary" %> <%= link_to 'Cancel', phr_medications_path, class: "btn btn-small btn-secondary" %>

	</p>
