<% provide(:title, "Activation") %>
<h2>Resend activation email</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:activation, url: resend_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Resend email", class: "btn btn-small btn-secondary" %>
    <% end %>
  </div>
</div>