<aside class="span4">
  <section>
    <h3>
      <%= @phr.first_name %> <%= @phr.last_name %>        
    </h3>
    <h4>Gender:</h4> <%= @phr.gender %>
    <h4>Date of Birth:</h4> <%= @phr.date_of_birth.strftime('%B %-d, %Y') %>
    <h4>Health Card Number:</h4> <%= @phr.health_card_no.upcase %>
    <h4>Blood Type:</h4> <%= @phr.blood_type.upcase %>
    <p><%= link_to "Edit", edit_phr_path(@phr) %></p>
  </section>
</aside>