<% provide(:title, "Ailment Records") %>


<div class ="row">
	<%= render 'shared/phr_info' %>
	<section>
		<div class="span8">
			<h2 style = "text-align: left;">Ailments</h2>
			<hr>
			<%= link_to "+New Record", new_phr_ailment_path, class: "btn btn-small btn-secondary" %>
			<br>
			<br>
			<% if @phr.ailments.where(:deleted => false).any? %>
				<ol class ="ailments">
					<%= render @ailments.where(:deleted => false) %>
					<%= will_paginate @ailments.where(:deleted => false) %>
				</ol>

			<% else %>
				You have no Ailment records<br><br>
			<% end %>

			<%= link_to 'Back', @phr, class: "btn btn-small btn-secondary" %>
		   	
		</div>
		
	</section>
</div>
