<% provide(:title, 'New Contact') %>
<h2>Add New Contact</h2>
<hr>
<aside class="span6 offset3">
<%= form_for :contact, url: contacts_path do |f| %>
	
	<% if @contact.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited
	      this contact from being saved:</h2>
	    <ul>
	    <% @contact.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
	</p>

	<p>
	<%= f.label :phone1, 'Primary Phone' %><br>
	<%= f.text_field :phone1 %>
	</p>

	<p>
	<%= f.label :phone2, 'Secondary Phone' %><br>
	<%= f.text_field :phone2 %>
	</p>

	<p>
	<%= f.label :email %><br>
	<%= f.text_field :email %>
	</p>

	<p>
	<%= f.label :description %><br>
	<%= f.text_area :description %>
	</p>
	
	<%= f.submit 'Save Contact' %><br>
	<%= link_to 'Cancel', contacts_path %>
<% end %>
</aside>