<% provide(:title, "Blood Pressure Records") %>

<div class="row">
  <%= render 'shared/phr_info' %>
  <section>
  <div class="span8">
  <h2 style="text-align:center;">Blood Pressure Records</h2>
  <hr>
  <%= link_to "+New Record", new_phr_bp_path, class: "btn btn-small btn-secondary" %>
  <br>
  <br>
    <% if @phr.bps.any? %>
      	<table class="table table-striped table-bordered table-condensed">
      		<thead>
        		<tr>
        			<th colspan="1">Date Reading Taken</th>
          			<th colspan="1">Systolic (mmHg)</th>
          			<th colspan="1">Diastolic (mmHg)</th>
          			<th colspan="1"></th>
          			<th colspan="1"></th>
        		</tr>
      		</thead>
      		<tbody>
      			<% @bps.each do |bp| %>
        		<tr>
        			<td><%= bp.date.strftime('%B %-d, %Y') %></td>
          			<td><%= bp.systolic %></td>
          			<td><%= bp.diastolic %></td>
          			<td><%= link_to "Edit", edit_phr_bp_path(@phr, bp), class: "btn btn-small btn-secondary" %></td>
          			<td><%= link_to "Delete", [bp.phr, bp], method: :delete, data: { confirm: "Are you sure you want to delete this Blood Pressure Record?" } , title: bp.date %></td>
        		</tr>
        		<% end %>
      		</tbody>
    	</table>
    	<table>
		    <td><%= will_paginate(@contacts) %></td>
  		</table>

    <% else %>
      You have no Blood Pressure Records<br><br>
    <% end %>
    <%= link_to 'Back', @phr, class: "btn btn-small btn-secondary"%>
    <br>
    <br>
  </div>
  </section>  
</div>