<p>
  <%= f.label :dentist %>
    <%= f.collection_select(:dentist, @user.contacts.where(:honorific => 'Dr'), :name, :name, :prompt => true) %>
</p>
<p>
  <%= f.label :last_visit %>
  <%= f.text_field :last_visit %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.submit "Submit", :class => "btn btn-small btn-secondary" %> 
  <%= link_to 'Cancel', phr_dentals_path, class: "btn btn-small btn-secondary" %>
</p>