<%= form_for([@phr, @phr.dentals.build]) do |f| %>
  <p>
    <%= f.label :dentist %>
    <%= f.text_field :dentist %>
  </p>    
  <p>
    <%= f.label :last_cleaning %>
    <%= f.date_select :last_cleaning, :start_year => 1900, :end_year => Time.now.year %>
  </p>
  <p>
  <%= f.submit %>
  </p>


<% end %>