<% provide(:title, "Allergy Records") %>

<div class="row">
  <%= render 'shared/phr_info' %>
  <section>
  <div class="span8">
  <h2 style="text-align:left;">Allergy Records</h2>
  <hr>
  <%= link_to "+New Record", new_phr_allergy_path, class: "btn btn-small btn-secondary" %>
  <br>
  <br>
    <% if @phr.allergies.any? %>
      	<table class="table table-striped table-bordered table-condensed">
      		<thead>
        		<tr>
        			<th style = "width:24%">Date Added</th>
          		<th style = "width:56%">Allergy Name</th>
          		<th style = "width:5%"></th>
          		<th style = "width:5%"></th>
        		</tr>
      		</thead>
      		<tbody>
      		  <%= render @allergies.where(:deleted => false) %>
            <%= will_paginate @allergies.where(:deleted => false) %>
      		</tbody>
    	</table>
    	<table>
		    <td><%= will_paginate(@contacts) %></td>
  		</table>

    <% else %>
      You have no Allergy Records<br><br>
    <% end %>
    <%= link_to 'Back', @phr, class: "btn btn-small btn-secondary"%>
    <br>
    <br>
  </div>
  </section>  
</div>