<%= form_for([@phr, @phr.appointments.build]) do |f| %>
  <p>
    <%= f.label :doctor %>
    <%= f.text_field :doctor %>
  </p>
  <p>
    <%= f.label :reason %>
    <%= f.text_field :reason %>
  </p>
  <p>
    <%= f.label :results %>
    <%= f.text_field :results %>
  </p> 
  <p>
  <%= f.submit %>
  </p>


<% end %>