	<p>
		<%= f.label :immunization %>
		<%= f.text_field :immunization %>
	</p>		
	<p>
		<%= f.label :date, 'Date Immunization Acquired' %>
		<%= f.date_select :date, :start_year => Time.now.year - 100, :end_year => Time.now.year %>
	</p>
	<p>
		<%= f.label :expiry, 'Immunization Expiry Date' %>
		<%= f.date_select :expiry, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :include_blank => true, :default => nil %>
	</p>
	<p>
	<%= f.submit "Submit", :class => "btn btn-small btn-secondary" %> <%= link_to 'Cancel', phr_immunizations_path, class: "btn btn-small btn-secondary" %>

	</p>
