	<p>
		<%= f.label :immunization %>
		<%= f.text_field :immunization %>
	</p>		
	<p>
		<%= f.label :date %>
		<%= f.date_select :date, :start_year => Time.now.year - 100, :end_year => Time.now.year %>
	</p>
	<p>
		<%= f.label :expiry %>
		<%= f.date_select :expiry, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100 %>
	</p>
	<p>
	<%= f.submit "Submit", :class => "btn btn-small btn-secondary" %> <%= link_to 'Cancel', phr_immunizations_path, class: "btn btn-small btn-secondary" %>

	</p>
