<tr>
  <td><%= immunization.immunization %></td>
  <td><%= immunization.date %></td>
  <td><%= immunization.expiry %></td>
  <td><%= link_to 'Edit', [immunization.phr, immunization], method: :update %></td> 
  <td><%= link_to 'Delete', [immunization.phr, immunization], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>