<% provide(:title, "Blood Glucose Records") %>

<div class="row">
  <%= render 'shared/phr_info' %>
  <section>
    <div class="span8">
      <h2 style = "text-align: left">Blood Glucose Records</h2>
      <hr>
      <%= link_to "+New Record", new_phr_bglucose_path, class: "btn btn-small btn-secondary" %>
      <br>
      <br>
        


        <% if @phr.bglucoses.where(:deleted => false).any? %>
        <table class ="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th style = "width:24%">Date</th>
            <th style = "width:30%">Blood Glucose(mg/dL)</th>
            <th style = "width:20">Fasting?</th>
            <th style = "width:5%"></th>
            <th style = "width:5%"></th>
          </tr>
        </thead>
        <tbody>
          
          <%= render @bglucoses.where(:deleted => false) %>
          <%= will_paginate @bglucoses.where(:deleted => false) %>
        </tbody>

      </table>
      <% else %>
        You have no Blood Glucose records<br><br>
      <% end %>

        <%= link_to 'Back', @phr, class: "btn btn-small btn-secondary"%>
    </div>
  </section>  
</div>