<% provide(:title, 'New PHR') %>
<h1>Create New PHR</h1>

<div class="row">
    <%= form_for(@phr) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'shared/user_info', f: f %>
      	<div class="span6 offset3">
      		<%= render 'phr_form', f: f %>
      	
      		<%= f.submit "Create PHR", class: "btn btn-large btn-primary" %>
      	</div>
    <% end %>
  </div>
</div>