<% provide(:title, @phr.first_name + " " + @phr.last_name) %>
<div class="row">
  <%= render 'shared/phr_info' %>
  
  <section>

  <div class="span8">

    <table>
      <tbody>
        <tr>
          <td width = "150", height = "150">
            <%= link_to (image_tag("ailments.png", size: "100x100", alt: "Ailment records")) , phr_ailments_path(@phr), class: "btn btn-small" %>
          </td>
          <td width = "150", height = "150">
            <%= link_to (image_tag("allergies.png", size: "100x100", alt: "Allergy records")) , phr_allergies_path(@phr), class: "btn btn-small" %>
          </td>
          <td width = "150", height = "150">
            <%= link_to (image_tag("appointments.png", size: "100x100", alt: "Appointment records")), phr_appointments_path(@phr), class: "btn btn-small" %>
          </td>
          <td width = "150", height = "150">
            <%= link_to (image_tag("blood_sugar.png", size: "100x100", alt: "Blood Glucose records")) , phr_bglucoses_path(@phr), class: "btn btn-small" %>
          </td>
        </tr>
        <tr>
          <td width = "150", height = "150">
            <%= link_to (image_tag("blood_pressure.png", size: "100x100", alt: "Blood Pressure records")) , phr_bps_path(@phr), class: "btn btn-small" %>
          </td>
          <td>
            <%= link_to (image_tag("dental.png", size: "100x100", alt: "Dental records")) , phr_dentals_path(@phr), class: "btn btn-small" %>
          </td>
          <td>
            <%= link_to (image_tag("fitness.png", size: "100x100", alt: "Fitness records")) , phr_fitnesses_path(@phr), class: "btn btn-small" %>
          </td>
          <td>
            <%= link_to (image_tag("immunizations.png", size: "100x100", alt: "Immunization records")), phr_immunizations_path(@phr), class: "btn btn-small" %>
          </td>
        </tr>
        <tr>
          <td width = "150", height = "150">
            <%= link_to (image_tag("medications.png", size: "100x100", alt: "Medication records")) , phr_medications_path(@phr), class: "btn btn-small" %>
          </td>
          <td>
            <%= link_to (image_tag("eyes.png", size: "100x100", alt: "Optometrist records")) , phr_eyes_path(@phr), class: "btn btn-small" %>
          </td>
          <td>
            <%= link_to (image_tag("test_results.png", size: "100x100", alt: "Test Result records")) , phr_tests_path(@phr), class: "btn btn-small" %>
          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table> 

<br>
    <%= link_to 'Back', current_user, class: "btn btn-small btn-secondary" %>
  </div>
  </section>
</div>

