<% provide(:title, @phr.first_name + " " + @phr.last_name) %>
<div class="row">
  <%= render 'shared/phr_info' %>
  
  <section>
  <div class="span8">
  <h3><%= link_to 'Ailments' , phr_ailments_path(@phr) %></h3>
  </div>
  
  <div class="span8">
  <h3><%= link_to 'Allergies' , phr_allergies_path(@phr) %></h3>
  </div>
  
  <div class="span8">
  <h3><%= link_to 'Appointments' , phr_appointments_path(@phr) %></h3>
  </div>
  
  <div class="span8">
  <h3><%= link_to 'Dental Records' , phr_dentals_path(@phr) %></h3>
  </div>
 
  <div class="span8">
    <h3>Diabetes</h3>
    <% if nil #@phrs.diabetes.any? %>
      <ol class="diabetes">
        <%= render @diabetes %>
      </ol>
      <%= will_paginate @diabetes %>
      <% else %>
      You have no Diabetes
    <% end %>
  </div>
  
  <div class="span8">
    <h3><%= link_to 'Optometrist Records' , phr_eyes_path(@phr) %></h3>
  </div>

  <div class="span8">
    <h3><%= link_to 'Immunization Records', phr_immunizations_path(@phr) %></h3>
    <% if nil #@phrs.immunizations.any? %>
      <ol class="immunizations">
        <%= render @immunizations %>
      </ol>
      <%= will_paginate @immunizations %>
      <% else %>
      You have no Immunization Records
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Medication</h3>
    <% if nil #@phrs.medications.any? %>
      <ol class="medications">
        <%= render @medications %>
      </ol>
      <%= will_paginate @medications %>
      <% else %>
      You have no Medications
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Surgery Records</h3>
    <% if nil #@phrs.surgerys.any? %>
      <ol class="surgerys">
        <%= render @surgerys %>
      </ol>
      <%= will_paginate @surgerys %>
      <% else %>
      You have no Surgery Records
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Test Results</h3>
    <% if nil #@phrs.tests.any? %>
      <ol class="tests">
        <%= render @tests %>
      </ol>
      <%= will_paginate @tests %>
      <% else %>
      You have no Test Results
    <% end %>
  </div>
  </section>
</div>