<% provide(:title, @phr.first_name + " " + @phr.last_name) %>
<div class="row">
  <%= render 'shared/phr_info' %>
  
  <section>
  <div class="span8">
  <h4><%= link_to 'Ailments' , phr_ailments_path(@phr) %></h4>
  </div>
  
  <div class="span8">
  <h4><%= link_to 'Allergies' , phr_allergies_path(@phr) %></h4>
  </div>
  
  <div class="span8">
  <h4><%= link_to 'Appointments' , phr_appointments_path(@phr) %></h4>
  </div>
  
  <div class="span8">
  <h4><%= link_to 'Dental Records' , phr_dentals_path(@phr) %></h4>
  </div>
 
  <div class="span8">
    <h4>Diabetes</h4>
  </div>
  
  <div class="span8">
    <h4><%= link_to 'Optometrist Records' , phr_eyes_path(@phr) %></h4>
  </div>

  <div class="span8">
    <h4><%= link_to 'Immunization Records', phr_immunizations_path(@phr) %></h4>
  </div>
  
  <div class="span8">
    <h4>Medication</h4>
  </div>
  
  <div class="span8">
    <h4>Surgery Records</h4>
  </div>
  
  <div class="span8">
    <h4>Test Results</h4>
  </div>
  </section>
</div>
<%= link_to 'Back', current_user %>