<% provide(:title, @phr.first_name + " " + @phr.last_name) %>
<div class="row">
  <%= render 'shared/phr_info' %>
  
  <section>

  <div class="span8">
  <h4><%= link_to 'Ailment Records' , phr_ailments_path(@phr) %></h4>
  </div>
  
  <div class="span8">
  <h4><%= link_to 'Allergy Records' , phr_allergies_path(@phr) %></h4>
  </div>
  
  <div class="span8">
  <h4><%= link_to 'Appointments' , phr_appointments_path(@phr) %></h4>
  </div>

  <div class="span8">
  <h4><%= link_to 'Blood Glucose Records' , phr_bglucoses_path(@phr) %></h4>
  </div>

  <div class="span8">
  <h4><%= link_to 'Blood Pressure Records' , phr_bps_path(@phr) %></h4>
  </div>
  
  <div class="span8">
  <h4><%= link_to 'Dental Records' , phr_dentals_path(@phr) %></h4>
  </div>

  <div class="span8">
  <h4><%= link_to 'Fitness Records' , phr_fitnesses_path(@phr) %></h4>
  </div>
  
  <div class="span8">
    <h4><%= link_to 'Immunization Records', phr_immunizations_path(@phr) %></h4>
  </div>
  
  <div class="span8">
    <h4> <h4><%= link_to 'Medication Records' , phr_medications_path(@phr) %></h4></h4>
  </div>

  <div class="span8">
    <h4><%= link_to 'Optometrist Records' , phr_eyes_path(@phr) %></h4>
  </div>
  
  <div class="span8">
    <h4>Surgery Records</h4>
  </div>
  
  <div class="span8">
    <h4><%= link_to 'Test Results Records' , phr_tests_path(@phr) %></h4>
  </div>

  <div class="span8">
    <%= link_to 'Back', current_user, class: "btn btn-small btn-secondary" %>
  </div>
  </section>
</div>

