<% provide(:title, @phr.first_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>
        <%= @phr.first_name %> <%= @phr.last_name %>        
      </h3>
      <h4>Gender:</h4> <%= @phr.gender %>
      <h4>Date of Birth:</h4> <%= @phr.date_of_birth.strftime('%B %-d, %Y') %>
      <h4>Health Card Number:</h4> <%= @phr.health_card_no.upcase %>
      <h4>Blood Type:</h4> <%= @phr.blood_type.upcase %>
      <p><%= link_to "Edit", edit_phr_path %></p>
    </section>
  </aside>
  
  <section>
  <div class="span8">
    <h3>Ailments</h3>
    <% if nil #@phrs.ailments.any? %>
      <ol class="ailments">
        <%= render @ailments %>
      </ol>
      <%= will_paginate @ailments %>
      <% else %>
      You have no Ailments
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Allergies</h3>
    <% if nil #@phrs.allergys.any? %>
      <ol class="allergys">
        <%= render @allergys %>
      </ol>
      <%= will_paginate @allergys %>
      <% else %>
      You have no Allergies
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Appointments</h3>
    <% if nil #@phrs.appointments.any? %>
      <ol class="appointments">
        <%= render @appointments %>
      </ol>
      <%= will_paginate @appointments %>
      <% else %>
      You have no Appointments
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Dental Records</h3>
    <% if nil #@phrs.dentals.any? %>
      <ol class="dentals">
        <%= render @dentals %>
      </ol>
      <%= will_paginate @dentals %>
      <% else %>
      You have no Dental Records
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Diabetes</h3>
    <% if nil #@phrs.diabetes.any? %>
      <ol class="diabetes">
        <%= render @diabetes %>
      </ol>
      <%= will_paginate @diabetes %>
      <% else %>
      You have no Diabetes
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Optometrist Records</h3>
    <% if nil #@phrs.eyes.any? %>
      <ol class="eyes">
        <%= render @eyes %>
      </ol>
      <%= will_paginate @eyes %>
      <% else %>
      You have no Optometrist Records
    <% end %>
  </div>
  
  <div class="span8">
    <h3><%= link_to 'Immunization Records', phr_immunizations_path(@phr) %></h3>
    <% if nil #@phrs.immunizations.any? %>
      <ol class="immunizations">
        <%= render @immunizations %>
      </ol>
      <%= will_paginate @immunizations %>
      <% else %>
      You have no Immunization Records
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Medication</h3>
    <% if nil #@phrs.medications.any? %>
      <ol class="medications">
        <%= render @medications %>
      </ol>
      <%= will_paginate @medications %>
      <% else %>
      You have no Medications
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Surgery Records</h3>
    <% if nil #@phrs.surgerys.any? %>
      <ol class="surgerys">
        <%= render @surgerys %>
      </ol>
      <%= will_paginate @surgerys %>
      <% else %>
      You have no Surgery Records
    <% end %>
  </div>
  
  <div class="span8">
    <h3>Test Results</h3>
    <% if nil #@phrs.tests.any? %>
      <ol class="tests">
        <%= render @tests %>
      </ol>
      <%= will_paginate @tests %>
      <% else %>
      You have no Test Results
    <% end %>
  </div>
  </section>
</div>