<p>
    <%= f.label :name, 'Test Type:' %>
    <%= f.text_area :name %>
</p>

<p>
<%= "Related to:" %>
<%= f.collection_select(:reason, @phr.ailments.all, :ailment_name, :ailment_name, :prompt => true) %>
</p>

<p>
	<%= f.label :doctor, 'Test Requested by:' %>
    <%= f.collection_select(:doctor, @user.contacts.where(:honorific => 'Dr'), :name, :name, :prompt => true) %>
</p>

<p>
    <%= f.label :date, 'Date Tested On:' %>
    <%= f.date_select :date, :start_year => 1900, :end_year => Time.now.year %>
</p>

<p>
    <%= f.label :comments, 'Additional Comments:' %>
    <%= f.text_area :comments %>
</p>

<p>
    <%= f.label :test, 'Upload photo or scan of your test (file with extension PNG or JPG or JPEG only):' %>
    <%= f.file_field :test %>
</p>