<% provide(:title, "Test Results Record " + @test.date.strftime('%B %-d, %Y')) %>
<%= render 'shared/phr_info' %>
<section>
	<div class="span6">
        <h2 style="text-align:left;">
          <%= @test.name %>
        </h2>
        <hr>
        <p>
        	<strong> Test Type</strong> (eg. Blood Test, X-Ray, etc.): 
        	<%= @test.name %>
        </p>

        <p>
            <strong> Reason </strong>:
            <%= @test.reason %>

        <p>
        	<strong> Test Requested By: </strong>
        	<%= @test.doctor %>
        </p>

        <p>
        	<strong> Date Tested On: </strong>
        	<%= @test.date.strftime('%B %-d, %Y') %>
        </p>

        <p>
        	<strong> Record Created On: </strong>
        	<%= @test.created_at.strftime('%B %-d, %Y') %>
        </p>

        <p>
        	<strong> Additional Comments: </strong>
        	<%= @test.comments %>
        </p>

        <p><strong>Uploaded Test File:</strong></p>
        <p style = "padding:1px;border:1px solid #000;background-color:#fff;"><%= image_tag @test.test.url %></p>
        <p>(To download: Right click on the image -> select 'Save Image As..')</p>
        <p><%= link_to "Edit", edit_phr_test_path(@phr, @test), class: "btn btn-small btn-secondary" %></p>
        <%= link_to 'Back', phr_tests_path(@phr), class: "btn btn-small btn-secondary" %>
    </div>
</section>