<% provide(:title, "Test Results Record " + @test.date.strftime('%B %-d, %Y')) %>

<div class = "row">
    <%= render 'shared/phr_info' %>
    <section>
    	<div class="span8">
            <h2 style="text-align:left;">
              Test Results Record
            </h2>
            <hr>
            <h4><%= "Test: " + @test.name %></h4>
            <table class = "table table-striped table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td col width = "90">Reason</td>
                        <td><%= @test.reason %></td>
                    </tr>

                    <tr>
                        <td>Requested by</td>
                        <td>Dr <%= @test.doctor %></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td><%= @test.date.strftime('%B %-d, %Y') %></td>
                    </tr>
                    <tr>
                        <td>Comments</td>
                        <td><%= @test.comments %></td>
                    </tr>
                    <tr>
                        <td>Uploaded File</td>
                        <td><%= image_tag @test.test.url %><br>
                        (To download: Right click on the image -> select 'Save Image As..')</td>
                    </tr>

                </tbody>
            </table>

            <p>
            <%= link_to "Edit", edit_phr_test_path(@phr, @test), class: "btn btn-small btn-secondary" %>
            <%= link_to 'Done', phr_tests_path(@phr), class: "btn btn-small btn-secondary" %>
            </p>
        </div>
    </section>