	<p>
		<%= f.label :weight %>
		<%= f.text_field :weight %>
	</p>		
	<p>
		<%= f.label :height %>
		<%= f.text_field :height %>
	</p>
	<p>
		<%= f.label :date %>
		<%= f.date_select :date, :start_year => 1900, :end_year => Time.now.year %>
	</p>

	<p>
	<%= f.submit %>
	</p>
